@model IEnumerable<FootballZoneMVC4.DAL.FootballMatch>

@foreach (var item in Model) {
    <tr data-pkey="@item.MatchID">
        <td>
            @Html.DisplayFor(modelItem => item.MatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
