@{
    ViewBag.Title = "За Футболна зона! ";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1><br />
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Информационната система "Футболна зона" е изградена за дипломна работа от <b>Георги Георгиев!</b> 
        Тя съдържа статистическа информация за отбори, мачове, футболисти, спонсори, стадиони и т.н., с 
        която има цел да осведоми любителите на футболната игра с информация която може да им е интересна.
        Предимство е че цялата информация е събрана на едно място и няма нужда да се ровите по интернет, 
        за да намерите по отделно всички тези неща. Тук те са предоставени на едно място с цел удобство при
        търсенето на информация!
    </p>

    <p>
        Системата е изградена изцяло на технологията(фреймлърка) ASP.NET/MVC. Ако се интересувате от нея
        можете да намерите много добра и подробна информация на официалния и сайт <a href="http://www.asp.net/mvc" 
        target="_blank"> ASP.NET/MVC </a>. Също така ако имате някакви въпроси и искате да разберете по подробно, 
        как стоят нещата при изработването на информационна система с ASP.NET/MVC, не се колебайте да ми изпратите
        E-mail. Него можете да го видите от страницата с <b>Контакти</b> на сайта.
        
       
    </p>

    <p>
        Очаквайте още информация скоро...
    </p>
</article>

<aside>
    <h3>Страница на проекта</h3>
    <p>
        Това е ..
    </p>
    <ul>
        <li>@Html.ActionLink("Начало", "Index", "Home")</li>
        <li>@Html.ActionLink("За сайта", "About", "Home")</li>
        <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
    </ul>
</aside>