@using FootballZoneMVC4.DAL
@using FootballZoneMVC4.Models
@model List<PlayersInTeamsViewModel>

@{
    ViewBag.Title = "viewPlayersInTeams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 align="center">Футболисти в отбора </h2>

    @foreach (var item in Model)
    {
        
        <div class="cont">
        <div class="image">@Html.Image(@item.ImageUrl, @item.Player)</div>
        <div class="name"><p class="nam">@item.Player </p></div>
        <p><b> От дата: </b> @item.FromDate </p>
        <p><b> До дата: </b>@item.ToDate </p>
        <p><b>Позиция на играча: </b>@item.PlayerKind </p>
        <p><b>Информация --> </b></p>
        <div class="Detinfo">@item.Information </div>
      
        </div>
    }




