@model IEnumerable<FootballZoneMVC4.DAL.PlayersTeam>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.PlayerNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerKind)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
