@using FootballZoneMVC4.DAL
@using FootballZoneMVC4.Models
@model List<SponsorsInTeamsViewModel>

@{
    ViewBag.Title = "Спонсор/и на отбора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 align="center">Спонсор/и на отбора </h2>

    @foreach (var item in Model)
    {
        
        <div class="cont">
        <div class="image">@Html.Image(@item.ImageUrl, @item.Sponsor)</div>
        <div class="name"><p class="nam">@item.Sponsor </p></div>
        <p><b> От дата: </b> @item.FromDate </p>
        <p><b> До дата: </b>@item.ToDate </p>
        <p><b>Официален спонсор </b></p>
        <p><b>Информация --> </b></p>
        <div class="Detinfo">@item.Information </div>
        </div>
    }