@model FootballZoneMVC4.DAL.RefereesMatch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>RefereesMatch</legend>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.Referee.RefereeNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referee.RefereeNames)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FootballMatch.MatchID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FootballMatch.MatchID)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RefereeKind)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RefereeKind)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.MatchID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
