@model IEnumerable<FootballZoneMVC4.DAL.RefereesMatch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Referee.RefereeNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FootballMatch.MatchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefereeKind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Referee.RefereeNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FootballMatch.MatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefereeKind)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MatchID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MatchID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.MatchID  })
        </td>
    </tr>
}

</table>
