@model FootballZoneMVC4.DAL.SponsorsTeam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SponsorsTeam</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sponsor.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sponsor.Name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Team.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Team.Name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FromDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.SponsorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
